@{
    ViewData["Title"] = "Crash Calculator";
}

@model INTEX.Models.QuizDriverData

<div class="container py-2" style="width:65%">
    <div class="card">
        <form method="post" asp-controller='Quiz' asp-action="Calculator">

            <div class="card-header text-center">
                <h2>Crash Calculator</h2>
            </div>
            <div class="card-body ">
                <div class="row px-3">

                    <div class="form-group col-4 mt-4 mb-3"><div class="m-2"><select class="form-control" asp-for="CityEntry"><option value="" class="text-muted">City</option>@foreach (string city in ViewBag.Cities)
                    {<option value="@city">@city</option>}</select></div></div>
                    <div class="form-group col-4 mt-4 mb-3"><div class="m-2"><select class="form-control" asp-for="CountyEntry"><option value="" class="text-muted">County</option>@foreach (string county in ViewBag.Counties)
                    {<option value="@county">@county</option>}</select></div></div>
                    <div class="col-4 text-center mb-4">
                        @if (ViewBag.Calculated == null)
                        {<span></span>}
                        else
                        {
                            {
                                string bg_color = "white";
                                switch (ViewBag.Calculated)
                                {
                                    case "1":
                                        bg_color = "green";
                                        break;
                                    case "2":
                                        bg_color = "greenyellow";
                                        break;
                                    case "3":
                                        bg_color = "yellow";
                                        break;
                                    case "4":
                                        bg_color = "orange";
                                        break;
                                    case "5":
                                        bg_color = "red";
                                        break;
                                };

                                    <span class="d-flex justify-content-center row">

                                            <h6 class="col-12">Severity: </h6>

                                            <span class="box border border-dark col-12 " style="background-color: @bg_color">@ViewBag.Calculated</span>

                                        
                                    </span>

                            }
                        }
                    </div>
                        


                        <div class="col-4 text-center"><div class="text-left form-group form-switch"><input asp-for="work_zone_related_True" type="checkbox" class="form-check-input" role="button"><label asp-for="work_zone_related_True">Work Zone Related</label></div></div>
                        <div class="col-4 text-center"><div class="text-left form-group form-switch"><input asp-for="pedestrian_involved_True" type="checkbox" class="form-check-input" role="button" /><label asp-for="pedestrian_involved_True">Pedestrian Involved:</label></div></div>
                        <div class="col-4 text-center"><div class="text-left form-group form-switch"><input asp-for="bicyclist_involved_True" type="checkbox" class="form-check-input" role="button" /><label asp-for="bicyclist_involved_True">Bicyclist Involved:</label></div></div>

                        <div class="col-4 text-center"><div class="text-left form-group form-switch"><input asp-for="motorcycle_involved_True" type="checkbox" class="form-check-input" role="button" /><label asp-for="motorcycle_involved_True">Motorcyclist Involved:</label></div></div>
                        <div class="col-4 text-center"><div class="text-left form-group form-switch"><input asp-for="improper_restraint_True" type="checkbox" class="form-check-input" role="button" /><label asp-for="improper_restraint_True">Passengers Improperly Restrained:</label></div></div>
                        <div class="col-4 text-center"><div class="text-left form-group form-switch"><input asp-for="unrestrained_True" type="checkbox" class="form-check-input" role="button" /><label asp-for="unrestrained_True">Unrestrained Passengers:</label></div></div>

                        <div class="col-4 text-center"><div class="text-left form-group form-switch"><input asp-for="dui_True" type="checkbox" class="form-check-input" role="button" /><label asp-for="dui_True">DUI:</label></div></div>
                        <div class="col-4 text-center"><div class="text-left form-group form-switch"><input asp-for="intersection_related_True" type="checkbox" class="form-check-input" role="button" /><label asp-for="intersection_related_True">Intersection Related:</label></div></div>
                        <div class="col-4 text-center"><div class="text-left form-group form-switch"><input asp-for="wild_animal_related_True" type="checkbox" class="form-check-input" role="button" /><label asp-for="wild_animal_related_True">Wild Animal Related:</label></div></div>

                        <div class="col-4 text-center"><div class="text-left form-group form-switch"><input asp-for="overturn_rollover_True" type="checkbox" class="form-check-input" role="button" /><label asp-for="overturn_rollover_True">Overturn or Rollover:</label></div></div>
                        <div class="col-4 text-center"><div class="text-left form-group form-switch"><input asp-for="commercial_motor_veh_involved_True" type="checkbox" class="form-check-input" role="button" /><label asp-for="commercial_motor_veh_involved_True">Commercial Motor Vehicle Involved:</label></div></div>
                        <div class="col-4 text-center"><div class="text-left form-group form-switch"><input asp-for="teenage_driver_involved_True" type="checkbox" class="form-check-input" role="button" /><label asp-for="teenage_driver_involved_True">Teenage Driver Involved:</label></div></div>

                        <div class="col-4 text-center"><div class="text-left form-group form-switch"><input asp-for="older_driver_involved_True" type="checkbox" class="form-check-input" role="button" /><label asp-for="older_driver_involved_True">Older Driver Involved:</label></div></div>
                        <div class="col-4 text-center"><div class="text-left form-group form-switch"><input asp-for="single_vehicle_True" type="checkbox" class="form-check-input" role="button" /><label asp-for="single_vehicle_True">Single Vehicle Involved:</label></div></div>
                        <div class="col-4 text-center"><div class="text-left form-group form-switch"><input asp-for="distracted_driving_True" type="checkbox" class="form-check-input" role="button" /><label asp-for="distracted_driving_True">Distracted Driving:</label></div></div>

                        <div class="col-4 text-center"><div class="text-left form-group form-switch"><input asp-for="drowsy_driving_True" type="checkbox" class="form-check-input" role="button" /><label asp-for="drowsy_driving_True">Drowsy Driving:</label></div></div>
                        <div class="col-4 text-center"><div class="text-left form-group form-switch"><input asp-for="roadway_departure_True" type="checkbox" class="form-check-input" role="button" /><label asp-for="roadway_departure_True">Roadway Departure:</label></div></div>

                    </div>
                </div>



                <div class="text-center pb-3">
                    <button type="submit" class="btn btn-secondary">Calculate Crash Severity</button>
                </div>


            </form>
        </div>

    </div>
