@{
}

@model Crash

<div class="container my-4">
    <form method="post">
        <h1>Are you sure you want to delete this crash from the database?</h1>
        <h4 class="text-danger">WARNING: This cannot be undone</h4>
        <input type="hidden" asp-for="@Model.CRASH_ID" />

        <div class="card my-3 mx-2 shadow-sm">
            <div class="card-body">
                <span class="float-right">
                    <h5 class="text-center">Severity: </h5>
                    
                    @switch (Model.CRASH_SEVERITY_ID)
                    {
                        case 1:
                            ViewBag.Color = "green";
                            break;
                        case 2:
                            ViewBag.Color = "greenyellow";
                            break;
                        case 3:
                            ViewBag.Color = "yellow";
                            break;
                        case 4:
                            ViewBag.Color = "orange";
                            break;
                        case 5:
                            ViewBag.Color = "red";
                            break;
                    }

                    <span class="box float-right border border-dark mx-3" style="background-color: @ViewBag.Color">@Model.CRASH_SEVERITY_ID</span>
                </span>
                <h3 class="card-title">@Model.MAIN_ROAD_NAME</h3>
                <h5 class="card-subtitle mb-2 text-muted">@Model.CRASH_DATETIME</h5>
                <p class="card-text">@(Model.LAT_UTM_Y), @Model.LONG_UTM_X<br />@(Model.CITY), @(Model.COUNTY_NAME)</p>
            </div>
        </div>

        <a class="btn btn-secondary" asp-controller="Home" asp-action="CrashDetails" asp-route-id="@Model.CRASH_ID">Cancel</a>
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>